<?xml version="1.0"?>
<!-- THIS IS THE NEW FILE FOR MALZOOK -->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Web site domain name http://www.malzook.com/ -->
    <add key="ServerURL" value="" />
    <add key="Owner" value="dbo213777016" />
    <!--<add key="ConnectionString" value="Data Source=peppermint.arvixe.com; Initial Catalog=mzdb; User ID=dbo213777016; Password=Pg9uaTGS"/>-->
    <!--<add key="ConnectionString" value="Data Source=peppermint.arvixe.com; Initial Catalog=mzBHdb; User ID=dbo199895754; Password=UDd9g8C7"/>-->
    <!-- Set MaintenanceMode to "on" to switch the site to a maintenance page only -->
    <add key="Maintenance Mode" value="off" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
    <!--User ID=dbo213777016; Password=Pg9uaTGS-->
    <add name="myConn" connectionString="Data Source=SMALTTECH11;Initial Catalog=mzdb;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="4CCB34C9A8DA19F530FF394A7E4C39FF9224B67AF877FD3F218430C86396D118DC1E1DAF73DB080F6EA9147517A6EC0F3D99EA157A338FA4407608CFF4885554" decryptionKey="3655FFB2E5ADEC9206999E382AA968962978DA449885B3E7" validation="SHA1" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="AjaxControlToolkit, Version=4.1.40412.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e, processorArchitecture=MSIL" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <!---<add assembly="System.Web.Entity" />-->
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Windows">
    </authentication>
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true">
    </httpRuntime>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="test" stopProcessing="true">
          <match url="http://test.malzook.com" />
          <action type="Redirect" url="http://www.malzook.com/test/index.html" redirectType="Permanent" />
        </rule>
        <rule name="mobi" stopProcessing="true">
          <match url="http://mobi.malzook.com" />
          <action type="Redirect" url="http://www.malzook.com/mobi/index.html" redirectType="Permanent" />
        </rule>
        <rule name="mdot" stopProcessing="true">
          <match url="http://m.malzook.com" />
          <action type="Redirect" url="http://www.malzook.com/m/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>