/* ===== TYPOGRAPHY ===== */
/*Paragraphs, headings, and other miscellaneous font styles such as small and strong tags.*/

a.menu{font-family: Trebuchet MS; font-size: 16px; color:#ffffff;}
a.menu:hover{font-family: Trebuchet MS; font-size: 16px; color:#ff9900;}

a.homemenu{font-family: Trebuchet MS; font-size: 14px; color:#333333;}
a.homemenu:hover{font-family: Trebuchet MS; font-size: 14px; background-color:#ff9900; color:#ffffff;}

a.sitemenu{font-family: Trebuchet MS; font-size: 12px; font-weight:bold;  color:#FFFFFF;}
a.sitemenu:hover{font-family: Trebuchet MS; font-size: 12px; font-weight:bold; background-color:#ff9900; color:#ffffff;}

a.sell{font-family: Trebuchet MS; font-size: 20px; font-weight:bold; color:#99CC66;}
a.sell:hover{font-family: Trebuchet MS; font-size: 20px; font-weight:bold; color:#ffffff; background-color:#99CC66;}

a.sell2{font-family: Trebuchet MS; font-size: 18px; font-weight:bold; color:#99CC66;}
a.sell2:hover{font-family: Trebuchet MS; font-size: 18px; font-weight:bold; color:#ffffff; background-color:#99CC66;}

a.hunt2{font-family: Trebuchet MS; font-size: 18px; font-weight:bold; color:#99CC66;}
a.hunt2:hover{font-family: Trebuchet MS; font-size: 18px; font-weight:bold; color:#ffffff; background-color:#ff9900;}

a.hunt{font-family: Trebuchet MS; font-size: 20px; font-weight:bold; color:#ff9900;}
a.hunt:hover{font-family: Trebuchet MS; font-size: 20px; font-weight:bold; color:#ffffff; background-color:#ff9900;}

a.search{font-family: Trebuchet MS; font-size: 18px; font-weight:bold;  color:#ffCC00;}
a.search:hover{font-family: Trebuchet MS; font-size: 18px; font-weight:bold;  color:#000000;}


/* this is the main UL element*/
.dropdown{
	visibility:hidden;
	margin:0;
	padding:0;
	background-color:#444444;
	list-style:none;
	/*border:solid 1px black*/
}

/* these are the inner menus*/
.dropdown ul{
	margin:0;
	padding:0;
	border:2px solid #444444;
	border-top:2px solid #444444;
	list-style:none;
}

/* these are all the LIs in the menu*/
.dropdown li{
	margin:0;
	padding:0px;
	width:100px;
	height:27px;
	background-color:#444444;
	cursor:pointer;
	display:inline;
}

.dropdown li:hover{
	text-decoration:none;
	color:#CC0033
	
	
	/* background: #fff */
}

/* these are anchor in the menu, if you want to style them differently from the rest of you website*/
.dropdown a{
	text-decoration:none;
	
	font-weight:bold
}

.dropdown a:hover{
	/*text-decoration:none;
	color:#CC0033
	*/
	/* background: #fff */
}

.dropdown a:hover.special{
	text-decoration:none;
}

/* these are the LIs that only belong to submenu*/
.dropdown ul li
{
    background-color:#FFFFFF;
	border:0px solid #444;
	border-top:0;
	margin-left:0px;
}

/* these are the LIs that contains a submenu*/
.dropdown li.submenu{
	background-image:url('expand_down.gif');
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:0px;
	width:100px;
}

/* these are the LIs that contains a submenu and which are in a sub-menu themselve*/
.dropdown ul li.submenu{
	background-image:url('expand_right.gif');
	background-position:center right;
	padding:2px;
	width:100px;
}

